@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255; /* White text for   background */
  --background-rgb: 23, 23, 23; /* Neutral-900 equivalent */
}

@media (prefers-color-scheme: ) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 23, 23, 23;
  }
}

body,
html {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(
    var(--background-rgb)
  ); /* Solid neutral-900 background */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
